@page
@model ArabaSatisSitesi.Pages.AboutUsModel
@{
    Layout = "_Layout";
}
<div>
    ARABA SAT HAKKIMIZDA
    <br />
    <span>Türkiye’de otomotiv ekosisteminin dijitalleşmesine öncülük etmek için kurulduğumuz 2017 yılından bu yana sürücülerle otomotiv ürün ve hizmet sağlayıcılarını iki taraflı pazar yerlerimizde birbiriyle buluşturuyoruz.</span>
    <br />
    <br />
</div>